@font-face {
  font-family: lead-font;
  src: url("./fonts/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2");
}

@font-face {
  font-family: chillax;
  src: url("./fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff");
}

@font-face {
  font-family: satoshi;
  src: url("./fonts/63cffc20aa8997095067596f_Satoshi-Light.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

main {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.get-in-touch {
  display: none;
}

.right-nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.right-nav h3 {
  font-family: lead-font;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #1e1e1e;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
}

.left-nav {
  padding-left: 1rem;
}

.right-nav i {
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
}

.right-nav span {
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: #cebd63;
  color: black;
}

/* .right-nav h3:nth-child(1),h3:nth-child(2),h3:nth-child(3),h3:nth-child(4),h3:nth-child(5){
    display: none;
} */

.right-nav h3:nth-child(1) {
  display: none;
}

.right-nav h3:nth-child(2) {
  display: none;
}

.right-nav h3:nth-child(3) {
  display: none;
}

.right-nav h3:nth-child(4) {
  display: none;
}

.right-nav h3:nth-child(5) {
  display: none;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  gap: 1rem;
}

.hero-img img {
  width: 100%;
  border-radius: 0.7rem;
  object-fit: cover;
}

.hero-heading {
  padding: 1rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3.5rem;
  border-radius: 0.7rem;
}

.hero-heading-top h3 {
  font-family: lead-font;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.hero-heading-bottom h1 {
  font-family: chillax;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 1.2;
}

.hero-heading-bottom h3 {
  font-family: satoshi;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #7d7c7a;
  line-height: 1.5;
}

.hero-heading-button {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-heading-button i {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 50%;
  color: white;
  font-weight: 100;
}

.hero-heading-button h4 {
  font-size: 1rem;
  color: white;
  font-family: lead-font;
  text-transform: uppercase;
  font-weight: 300;
}

.between {
  margin: 1rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 1rem;
}

.clients h3 {
  font-family: lead-font;
  font-size: 0.9rem;
  font-weight: 300;
  color: #7d7c7a;
  text-transform: uppercase;
}

.clients h1 {
  font-family: chillax;
  font-size: 2.3rem;
  color: white;
  font-weight: 100;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  gap: 1rem;
}

.second-img1 img {
  width: 100%;
  border-radius: 0.7rem;
  object-fit: cover;
}

.second-text1 {
  padding: 1rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3.5rem;
  border-radius: 0.7rem;
}

.second-text1-top h3 {
  font-family: lead-font;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.second-text1-bottom h1 {
  font-family: chillax;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
}

.second-text1-bottom h3 {
  font-family: satoshi;
  margin-top: 1rem;
  font-size: 1rem;
  color: #7d7c7a;
  line-height: 1.8;
}

.second-img2 img {
  width: 100%;
  border-radius: 0.7rem;
  object-fit: cover;
}

.second-text2 {
  padding: 1rem;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3.5rem;
  border-radius: 0.7rem;
}

.second-text2-top h3 {
  font-family: lead-font;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.second-text2-bottom h1 {
  font-family: chillax;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
}

.second-text2-bottom h3 {
  font-family: satoshi;
  margin-top: 1rem;
  font-size: 1rem;
  color: #7d7c7a;
  line-height: 1.8;
}

.third{

    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.third-heading h1{
    font-family: chillax;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 8rem;
    background-color: lightblue;
    background-image: url("./assets/team1.webp");
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0.5rem;
}

.member-last{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 8rem;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0.5rem;
}

.member-last img{
    border-radius: 0.5rem;
}

.member-top{
    display: flex;
    justify-content: flex-end;
    gap: 0.7rem;
    padding: 2rem;
    
}

.member-top h3{
    padding: 0.7rem;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 1px solid gray;
}

.member-bottom{
    display: flex;
    margin-bottom: 1rem;
    margin: 1em;
    padding: 1rem 0.9rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
}

.member-bottom h1{
    font-family: chillax;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
}

.member-bottom h3{
    font-family: lead-font;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

.members-list .member:nth-child(2){
    background-image: url("./assets/team2.webp");
}

.members-list .member:nth-child(3){
    background-image: url("./assets/team3.webp");

}


.member img{
    border-radius: 1rem;
}

.join-our-team{
    background-color: #1e1e1e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 0.5rem;
}

.join-our-team h3{
    font-family: lead-font;
    text-transform: uppercase;
    color: #7d7c7a;
    font-weight: 300;
    font-size: 1rem;
}

.join-our-team-top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.join-our-team h1{
    font-family: chillax;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

.join-our-team-bottom{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.join-our-team-bottom i{
    color: white;
    font-size: 1rem;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 50%;
}

.join-our-team-bottom h3{
    color: white !important;
    font-size: 0.9rem;
}

.contact{
    background-color: #cebd63;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
}

.contact h3{
    font-family: lead-font;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

.contact h1{
    font-family: chillax;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
}

.contact-bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-bottom button{
    padding:  1rem 2rem;
    font-family: lead-font;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-weight: 300;
    border: none;
}











@media (min-width: 834px) {
  .hero-heading-bottom h1 {
    font-size: 3rem;
  }

  .hero-heading-bottom h3 {
    font-size: 1.3rem;
    width: 70%;
  }

  .hero-heading {
    gap: 7rem;
  }

  .hero-heading-button {
    margin-top: 3rem;
  }

  .clients h3 {
    font-size: 1.2rem;
  }

  .clients h1 {
    font-size: 3.5rem;
  }

  .get-in-touch {
    display: block;
    background-color: #cebd63 !important;
    color: black !important;
  }

  .second-flex1{
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  .second-flex2{
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  .second-text1 {
    gap: 5rem;
  }

  .second-text1-bottom h1 {
    font-size: 3rem;
  }

  .second-text1-bottom h3 {
    font-size: 1.2rem;
  }

  .second-text2 {
    gap: 5rem;
  }

  .second-text2-bottom h1 {
    font-size: 3rem;
    width: 80%;
  }

  .second-text2-bottom h3 {
    font-size: 1.2rem;
  }

  .third{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .members-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 1;
  }
  .member{
    gap: 10rem;
    width: 48%;
    border-radius: 1rem;
  }

  .third-heading h1{
    font-size: 3rem;
    padding: 2rem;
  }

  .join-our-team{
    width: 100%;
    gap: 10rem;
    border-radius: 1rem;
  }

  .join-our-team h1{
    width: 70%;
    font-size: 3rem;
  }

  .contact h1{
    font-size: 4rem;
    width: 80%;
    line-height: 1;
  }
}

@media (min-width: 414px) {

    .second-flex1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .second-flex2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .members-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .third-flex2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 834px) {
    .members-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .third-flex2{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .member-last{
        width: 100%;
    }
    
    .join-our-team{
        width: 100%;
    }
}




@media (min-width: 1360px) {
  .first {
    display: flex;
    flex-direction: row;
  }

  .hero-heading {
    height: 100%;
    padding: 3rem;
  }

  .hero-heading-bottom h1 {
    font-size: 4rem;
  }

  .hero-heading-bottom h3 {
    font-size: 1.3rem;
    width: 90%;
  }

  .right-nav h3:nth-child(1) {
    display: block;
  }

  .right-nav h3:nth-child(2) {
    display: block;
  }

  .right-nav h3:nth-child(3) {
    display: block;
  }

  .right-nav h3:nth-child(4) {
    display: block;
  }

  .right-nav h3:nth-child(5) {
    display: block;
  }

  .between {
    padding-top: 2rem;
    display: grid;
    grid-template-rows: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .right-nav i {
    display: none;
  }

  .second-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .second-flex1 {
    margin-top: 8rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .second-text1 {
    gap: 10.2rem;
    width: 50%;
  }

  .second-img1 {
    width: 50%;
  }

  .second-flex2 {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .second-text2 {
    gap: 6.5rem;
    width: 50%;
  }

  .second-img2 {
    width: 50%;
  }

  .members-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .member{
    width: 32%;
  }

  .third{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .member-last{
    width: 40%;
  }

  .member-last img{
    object-fit: cover;
  }

  .join-our-team{
    width: 60%;
    gap: 1.5rem;
  }

  .join-our-team h1{
    font-size: 2.5rem;
  }

  .third-flex2{
    display: flex;
    gap: 1rem;
  }

  .contact-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contact-bottom button{
    padding: 1rem 1rem;
  }

  .third-flex2{
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }



}








@media (min-width: 1680px) {
  .hero-heading {
    gap: 17rem;
  }

  .second-text1{
    gap: 20rem;
  }

  .second-text2{
    gap: 20rem;
  }

}

@media (min-width: 1920px) {
  .hero-heading {
    gap: 30rem;
    padding: 3.8rem;
  }
  .second-text1{
    gap: 26rem;
  }

  .second-text2{
    gap: 28rem;
  }

  .second-text1-bottom h1{
    width: 80%;
  }

  .second-text2-bottom h1{
    width: 70%;
  }

  .second-text2-bottom h3{
    font-size: 1.3rem;
  }

  .second-text1-bottom h3{
    font-size: 1.3rem;
  }

  .member{
    gap: 20rem;
  }

  .join-our-team h1{
    font-size: 4rem;
  }

  .contact-bottom{
    justify-content: space-between;
  }

  .contact h1{
    font-size: 4rem;
    width: 40%;
  }

  
}
